
@{
    ViewBag.Title = "Configuracion";
}

<h2>Configuracion</h2>



@Html.ActionLink("Gestionar Datos Pais", "Index", "Pais")
<br />
@Html.ActionLink("Gestionar Datos Departamento", "Index", "Departamento")
<br />
@Html.ActionLink("Gestionar Datos Ciudad", "Index", "Ciudad")
