@{
    ViewBag.Title = "Página de Inicio";
}

<div class="row">
    <div class="col-md-12">
        <h3>Bienvenido a la Aplicación</h3>
        <p>
           Para operar la aplicación utilize las opciones disponibles en el menú
        </p>
      
    </div>
  
</div>